%h2 Achievements
.section
  %ul
    %li
      :maruku
        At GreenSync, having **developed and scaled deX**, a streaming event-sourced system. In my time there, deX and its ecosystem of many bridges for hardware integrations grew to be coordinating over 10,000 devices. deX was so successful that deX registration had became mandatory for all new solar system installations in SA and WA; in order for the electricity network operator to be able to throttle down solar output in rare periods of reduced network-wide demand. Building from scratch, a streaming event-sourced system, and its Que job -based bridges -- and then scaling the applications and architecture -- was an incredibly rewarding journey.
    %li
      :maruku
        Becoming an open source **maintainer of Que**, "a Ruby job queue that uses PostgreSQL's advisory locks for speed and reliability", notably helping introduce support for Ruby 3 and bulk enqueueing while at GreenSync -- [github.com/que-rb/que](https://github.com/que-rb/que)
    %li
      :maruku
        I [discovered a bug in the Linux kernel](https://bit.ly/3OMti4O), related to the `copy_file_range` syscall when used with the overlay2 subsystem. With a file that was mounted into a Docker container, attempting to copy the content to another file using `copy_file_range` would erroneously result in a zero-byte file.
    %li
      :maruku
        **Presenting at the Ruby meetup**, *Applied Event Sourcing in deX*, on 2018-10-03 -- [youtu.be/KOfG3BK2Ue8](https://youtu.be/KOfG3BK2Ue8)
    %li
      :maruku
        **1<sup>st</sup> prize** in the Monash University IT Challenge 2011, Database category, with my Ace Video Rentals Database program -- [infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html (archived)](https://web.archive.org/web/20130504173656/http://infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html)
    %li
      :maruku
        Multiple presentations to the Swinburne Cyber Security Club, imparting hacking knowledge of [SQL Injection](https://docs.google.com/presentation/d/18IJfC_JXm5SDBlKClTRSyM_eBUIk-IQJYrYsXsjrDHw/edit?usp=sharing) and some interesting [OverTheWire challenges](https://www.youtube.com/watch?v=f8Ct_rm2cg4)
    %li
      :maruku
        As part of <abbr title="Swinburne Cyber Security Club">SCSC</abbr>, our team came:
      %ul
        %li
          :maruku
            **12<sup>th</sup>**/55 for CySCA 2014 (Australia) -- [scoring.cyberchallenge.com.au/index/ranking](https://scoring.cyberchallenge.com.au/index/ranking)
        %li
          :maruku
            **306<sup>th</sup>**/1174 for CSAW 2014 (USA, international) -- [ctf.isis.poly.edu/scoreboard](https://ctf.isis.poly.edu/scoreboard)
        %li
          :maruku
            **12<sup>th</sup>**/81 for UNSW Security Society CTF 2013 (Australia) -- [ctf.k17.org/scores](https://ctf.k17.org/scores)
