%h2 Achievements
.section
  %ul
    %li
      :maruku
        **1<sup>st</sup>** prize in the Monash University IT Challenge 2011, Database category, with my Ace Video Rentals Database program -- [infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html](http://infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html)
    %li Multiple presentions to the Swinburne Cyber Security Club, imparting hacking knowledge of [SQL Injection](https://docs.google.com/presentation/d/18IJfC_JXm5SDBlKClTRSyM_eBUIk-IQJYrYsXsjrDHw/edit?usp=sharing) and some interesting [OverTheWire challenges](TODO)
    %li
      As part of SCSC, our team came:
      %ul
        %li
          :maruku
            **12<sup>th</sup>**/55 for CySCA 2014 (Australia) -- [scoring.cyberchallenge.com.au/index/ranking](https://scoring.cyberchallenge.com.au/index/ranking)
        %li
          :maruku
            **306<sup>th</sup>**/1174 for CSAW 2014 (USA, international) -- [ctf.isis.poly.edu/scoreboard](https://ctf.isis.poly.edu/scoreboard)
        %li
          :maruku
            **12<sup>th</sup>**/81 for UNSW Security Society CTF 2013 (Australia) -- [ctf.k17.org/scores](https://ctf.k17.org/scores)
