%h2 Achievements
.section
  %ul
    %li
      %strong>
        1<sup>st</sup>
        prize in the Monash University IT Challenge 2011
      , Database category, with my Ace Video Rentals Database program &ndash;
      %a{:href => "http://www.infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html"} http://www.infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html
    %li
      As part of the Swinburne Cyber Security Club, our team came
      %strong
        12<sup>th</sup>
        for CySCA 2014
      \&ndash;
      %a{:href => "https://scoring.cyberchallenge.com.au/index/ranking"} https://scoring.cyberchallenge.com.au/index/ranking
