h2 Achievements
.section
  ul
    li
      markdown:
        **1^st** prize in the Monash University IT Challenge 2011, Database category, with my Ace Video Rentals Database program -- [infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html](http://infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html)
    li
      markdown:
        Multiple presentations to the Swinburne Cyber Security Club, imparting hacking knowledge of [SQL Injection](https://docs.google.com/presentation/d/18IJfC_JXm5SDBlKClTRSyM_eBUIk-IQJYrYsXsjrDHw/edit?usp=sharing) and some interesting [OverTheWire challenges](https://www.youtube.com/watch?v=f8Ct_rm2cg4)
    li
      markdown:
        As part of <abbr title="Swinburne Cyber Security Club">SCSC</abbr>, our team came:
      ul
        li
          markdown:
            **12^th**/55 for CySCA 2014 (Australia) -- [scoring.cyberchallenge.com.au/index/ranking](https://scoring.cyberchallenge.com.au/index/ranking)
        li
          markdown:
            **306^th**/1174 for CSAW 2014 (USA, international) -- [ctf.isis.poly.edu/scoreboard](https://ctf.isis.poly.edu/scoreboard)
        li
          markdown:
            **12^th**/81 for UNSW Security Society CTF 2013 (Australia) -- [ctf.k17.org/scores](https://ctf.k17.org/scores)
