%h2 Achievements
.section
  %ul
    %li
      :maruku
        **1<sup>st</sup>** prize in the Monash University IT Challenge 2011, Database category, with my Ace Video Rentals Database program -- [infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html](http://infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html)
    %li
      As part of the Swinburne Cyber Security Club, our team came:
      %ul
        %li
          :maruku
            **12<sup>th</sup>** for CySCA 2014 (Australia) -- [scoring.cyberchallenge.com.au/index/ranking](https://scoring.cyberchallenge.com.au/index/ranking)
        %li
          :maruku
            **306<sup>th</sup>** of 1174 teams for CSAW 2014 (USA, international) -- [ctf.isis.poly.edu/scoreboard](https://ctf.isis.poly.edu/scoreboard)