%h2 Education
.section.nobreak
  %h3 Professional development
  .section.professional-development
    Tickets and flights were ~95% self-funded
    .two-column
      .column
        %h4 Programming
        %ul.lpad.rpad
          %li
            :maruku
              **Melbourne Ruby meetup**

              Nearly every month since January 2014
          %li
            :maruku
              **RubyConf AU**

              2015, 2016, 2017, 2018, 2019, 2020, 2023

            / 2015, Melbourne
            / 2016, Gold Coast
            / 2017, Melbourne
            / 2018, Sydney
            / 2019, Melbourne
            / 2020, Melbourne
            / No conf in 2021 or 2022
            / 2023, Melbourne
          %li
            :maruku
              **Functional programming meetups**

              1x Elm; 3x Haskell; 5x Elixir; 1x Scala;

              2x Melbourne Functional User Group
          %li
            :maruku
              **Rails Camp**

              19: July 2016, Adelaide;

              20: December 2016, Gold Coast
          %li
            :maruku
              **Compose Conf** 2017, 2019
          %li
            :maruku
              **Crystal Conf** 2021
          %li
            :maruku
              **Trailblazer workshop**, RubyConf 2016
      .column
        %h4 Security
        %ul.lpad.rpad
          %li
            :maruku
              **OWASP Melbourne**

              AppSec Day conference 2016, 2017, 2019

              3x Exploitation Training meetup
          %li
            :maruku
              **Ruxcon** 2014, 2016, 2017
          %li
            :maruku
              **CrikeyCon** 2018 Brisbane
          %li
            :maruku
              **BSides Canberra** 2018
          %li
            :maruku
              **Unrest** 2016
          %li
            :maruku
              **Secure Development Melbourne**
.section.nobreak
  %h3 Institutional education
  .section
    %p
      %strong> Bachelor of Science (Professional Software Development)
      , Swinburne University of Technology, Hawthorn (2012 &ndash; 2014). To commence working sooner, I dropped out with one year remaining
    %ul#uni-achievements.lpad
      %li
        %div Database Analysis and Design
        %div 93% &ndash; High Distinction
      %li
        %div Computer Systems
        %div 87% &ndash; High Distinction
      %li
        %div Data Structures and Patterns
        %div 86% &ndash; High Distinction
      %li
        %div Internet Technologies
        %div 80% &ndash; Distinction
      %li
        %div Computer and Logic Essentials
        %div 79% &ndash; Distinction
      / %li
      /   %div LAN Principles
      /   %div 77% &ndash; Distinction
      / %li
      /   %div Object-Oriented Programming
      /   %div 75% &ndash; Distinction
    %p
      %strong> Victorian Certificate of Education
      , Carey Baptist Grammar School, Kew (2009 &ndash; 2011, Years 10 &ndash; 12)
    %ul.lpad
      %li Study score of 42 for VCE IT Software Development, accelerated
      %li Also studied Physics, Maths Methods, and English Language (linguistics)

  / %h3 Training
  / .section
  /   %ul
  /     %li First aid, CPR - St John Ambulance, Carey Baptist Grammar 2009 &ndash; 2010
