%h2 Education &amp; Training
.section
  %h3 Education
  .section
    %p
      %strong> Bachelor of Science (Professional Software Development)
      , Swinburne University of Technology, Hawthorn (2012 &ndash; Present)
    %ul#uni-achievements
      %li
        %div Database Analysis and Design
        %div 93% &ndash; High Distinction
      %li
        %div Computer Systems
        %div 87% &ndash; High Distinction
      %li
        %div Data Structures and Patterns
        %div 86% &ndash; High Distinction
      %li
        %div Internet Technologies
        %div 80% &ndash; Distinction
      %li
        %div Computer and Logic Essentials
        %div 79% &ndash; Distinction
      / %li
      /   %div LAN Principles
      /   %div 77% &ndash; Distinction
      / %li
      /   %div Object-Oriented Programming
      /   %div 75% &ndash; Distinction
    %p
      %strong> Victorian Certificate of Education
      , Carey Baptist Grammar School, Kew (2009 &ndash; 2011, Years 10 &ndash; 12)
    %ul
      %li Study score of 42 for VCE IT Software Development, accelerated
      %li Also studied Physics, Maths Methods, and English Language
  %h3 Training
  .section
    %ul
      %li First aid, CPR - St John Ambulance, Carey Baptist Grammar 2009 &ndash; 2010
