%h2 Education
.section.nobreak
  %h3 Professional development
  .section.two-column.professional-development
    %ul.column
      %li
        :maruku
          **Melbourne Ruby meetup**

          January 2014 -- Present

          Regular monthly attendee
      %li
        :maruku
          **RubyConf**

          February 2015, Melbourne;

          February 2016, Gold Coast

          February 2017, Melbourne;
      %li
        :maruku
          **Trailblazer workshop**
      %li
        :maruku
          **OWASP Melbourne**

          AppSec Day conference, September 2016

          3x Exploitation Training meetup
      %li
        :maruku
          **Secure Development Melbourne**
    %ul.column
      %li
        :maruku
          **Ruxcon security conference**

          11--12 October 2014;

          22--23 October 2016

          Attendee and event security volunteer
      %li
        :maruku
          **Unrest security conference**
      %li
        :maruku
          **Functional programming meetups**

          2x Melbourne Functional User Group;

          2x Haskell; 1x&nbsp;Scala
      %li
        :maruku
          **Rails Camp**

          19: July 2016, Adelaide;

          20: December 2016, Gold Coast
.section.nobreak
  %h3 Institutional education
  .section
    %p
      %strong> Bachelor of Science (Professional Software Development)
      , Swinburne University of Technology, Hawthorn (2012 &ndash; 2014, incomplete)
    %ul#uni-achievements
      %li
        %div Database Analysis and Design
        %div 93% &ndash; High Distinction
      %li
        %div Computer Systems
        %div 87% &ndash; High Distinction
      %li
        %div Data Structures and Patterns
        %div 86% &ndash; High Distinction
      %li
        %div Internet Technologies
        %div 80% &ndash; Distinction
      %li
        %div Computer and Logic Essentials
        %div 79% &ndash; Distinction
      / %li
      /   %div LAN Principles
      /   %div 77% &ndash; Distinction
      / %li
      /   %div Object-Oriented Programming
      /   %div 75% &ndash; Distinction
    %p
      %strong> Victorian Certificate of Education
      , Carey Baptist Grammar School, Kew (2009 &ndash; 2011, Years 10 &ndash; 12)
    %ul
      %li Study score of 42 for VCE IT Software Development, accelerated
      %li Also studied Physics, Maths Methods, and English Language (linguistics)

  / %h3 Training
  / .section
  /   %ul
  /     %li First aid, CPR - St John Ambulance, Carey Baptist Grammar 2009 &ndash; 2010
