%h2 Relevant experience
.section
  %h3 Junior Ruby Developer
  .section
    :maruku
      **Allori, Canterbury**

      **Part-time, March 2013 -- February 2015** (2 years)

      Core skills: Ruby, cross-browser/platform testing, browser development tools, Git workflow & commit messages, HTML, CSS, JavaScript, CoffeeScript, PHP, Markdown, Regular expressions

  %h3 Swinburne Cyber Security Club President
  .section
    :maruku
      **Swinburne University of Technology, Hawthorn**

      **President January 2015 -- Current**; Member since mid-2013

      Responsibilities: Event management, presenting, competing in CTFs, website creation, Open&nbsp;Day volunteering, social media & communication

  %h3 Freelance Rails Developer
  .section
    :maruku
      **KproApps, working remotely**

      **11.3 hours across July 2015**

      Responsibilities: Upgrading template for remaining pages, cleaning diverged Git history, deployment, client meeting technical advisory

  %h3 Post-Production
  .section
    :maruku
      **Metropolis Metering Services, Brunswick**

      **Casual, January -- February 2015** (1 month)

      Core skills: Adobe Premiere CC, colour keying (green screen), speech correction, speech to demonstration re-flow, encode optimisation, cloud asset sharing

  %h3 Post-Production, Web Tester/Editor
  .section
    :maruku
      **Allori, Hawthorn**

      **Part-time, November 2011 -- March 2013** (1 year, 4 months)

      Core skills: Adobe Premiere Pro CS6, precise editing, Audacity, managing extensive source video, camera-switching, colour-correction, h.264 transcoding and exporting, codecs and browser support, producing website testing reports

  %h3 Tutor for Computer Systems
  .section
    :maruku
      **Swinburne University of Technology, Hawthorn** (3 months)

      **Sessional, August -- November 2014**

      Core skills: ARMv6 Raspberry Pi assembly programming in kernel & userland, boolean logic circuits, imparting technical knowledge, collaborating with the lecturer to create learning resources, marking weekly lab work
