%h2 Relevant experience
.section
  %h3 Junior Ruby Developer
  .section
    :maruku
      **Allori, Canterbury**

      **Part-time, March 2013 &ndash; Present**

      Core skills: Ruby, cross-browser/platform testing, browser development tools, HTML, CSS, JavaScript, CoffeeScript, Git, PHP, Markdown, Regular expressions
  %h3 Post-Production, Web Tester/Editor
  .section
    :maruku
      **Allori, Hawthorn**

      **Part-time, November 2011 &ndash; mid-2012**

      Core skills: Adobe Premiere Pro CS6, precise editing, Audacity, managing extensive source video, camera-switching, colour-correction, h.264 transcoding and exporting, codecs and browser support, producing website testing reports
  %h3 Tutor for Computer Systems
  .section
    :maruku
      **Swinburne University of Technology, Hawthorn**

      **Sessional, August 2014 &ndash; November 2014**

      Core skills: imparting technical knowledge, marking weekly lab work, collaborating with the lecturer to create learning resources
