:ruby
  require 'base64'

  def self.base64_img(file_path)
    extension = file_path.split('.').last
    type = extension == 'svg' ? 'svg+xml' : extension
    "data:image/#{type};base64," + Base64.strict_encode64(File.read(file_path))
  end

%h2 Professional experience
.section
  .experience.nobreak
    %h3 Senior Software Developer
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/macuject-icon.svg')}
      .description
        :maruku
          **Macuject**, Melbourne (remote)

          **Full-time**; April, 2024 -- Present

          Developing software for the treatment of macular degeneration, to end preventable blindness

          Core skills: Ruby on Rails

        / April 2, 2024 -- Present

  .experience.nobreak
    %h3 Software Developer
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/greensync-icon.png')}
      .description
        :maruku
          **GreenSync**, Melbourne CBD (then fully remote since Covid)

          **Full-time, 5.3 years**; June 2017 -- September 2022

          Developing [deX](https://dex.energy) in Ruby (originally Go) -- "a marketplace for exchanging localised energy capacity to meet peak demand" -- and the ecosystem of deX-integrated applications and bridges to cloud APIs for home solar & batteries.

          Core skills: Ruby, Functional Programming, Event Sourcing, dry-rb, PostgreSQL & JSONB, Docker, Docker Compose, Google Cloud (Kubernetes, Cloud SQL, Pub/Sub, BigQuery, Logging), Que maintainer, ES6, Bash, React, OpenAPI, secure development, GitHub, open source, creating private gems on GitHub Packages, pair programming, code review, refactoring, Go, Datadog

        / June 30, 2017 -- September 28, 2022

  .experience.nobreak
    %h3 Ruby Developer
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/forticode-icon.png')}
      .description
        :maruku
          **Forticode**, Melbourne CBD

          **Full-time, 0.5 years**; October, 2015 -- April, 2016

          Responsibilities: Developing a web SDK and demo for the Forticode authentication technology -- building a Ruby on Rails API; using React.js, CoffeeScript, and Opal (Ruby to JavaScript compiler); utilising static C libraries for encryption; performing some automated cross-browser testing; writing documentation; and leading the transition to Git with an internal GitLab.

        / October 20, 2015 -- April 1, 2016

  .experience.nobreak
    %h3 Junior Ruby Developer
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/allori-logo.png')}
      .description
        :maruku
          **Allori**, Canterbury

          **Part-time, 1.0 years <abbr title="Full-Time Equivalent">FTE</abbr>**; 2 years, March 2013 -- February 2015

          Core skills: Ruby, cross-browser/platform testing, browser development tools, Git workflow & commit messages, HTML, CSS, JavaScript, CoffeeScript, PHP, Markdown, Regular expressions

  .experience.nobreak
    %h3 Swinburne Cyber Security Club President
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/scsc-icon.png')}
      .description
        :maruku
          **Swinburne University of Technology**, Hawthorn

          **President, January 2015 -- December 2016**; Member since mid-2013

          Responsibilities: Event management, preparing and presenting educational hacking content, competing in CTFs, website creation, Open&nbsp;Day volunteering, social media & communication, advertising

  .experience.nobreak
    %h3 Freelance Rails Developer
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/kproapps-logo.png')}
      .description
        :maruku
          **KproApps**, working remotely

          **Short project, July 2015**

          Responsibilities: Upgrading template for remaining pages, cleaning diverged Git history, redeployment, client meeting technical advisory

  .experience.nobreak
    %h3 Post-Production
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/metropolis-icon.png')}
      .description
        :maruku
          **Metropolis Metering Services**, Brunswick

          **Short project, January -- February 2015**

          Core skills: Adobe Premiere CC, colour keying (green screen), speech correction, speech to demonstration re-flow, encode optimisation, cloud asset sharing

  .experience.nobreak
    %h3 Post-Production, Web Tester/Editor
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/allori-logo.png')}
      .description
        :maruku
          **Allori**, Hawthorn

          **Part-time, November 2011 -- March 2013**

          Core skills: Adobe Premiere Pro CS6, precise editing, Audacity, managing extensive source video, camera-switching, colour-correction, h.264 transcoding and exporting, codecs and browser support, producing website testing reports

  .experience.nobreak
    %h3 Tutor for Computer Systems
    .section
      .company-logo-wrapper
        %img{src: base64_img('images/swinburne-logo.png'), style: 'max-height: 55px'}
      .description
        :maruku
          **Swinburne University of Technology**, Hawthorn

          **Sessional, August -- November 2014**

          Core skills: ARMv6 Raspberry Pi assembly programming in baremetal & userland, boolean logic circuits, imparting technical knowledge, collaborating with the lecturer to create learning resources, marking weekly lab work
