%h2 Relevant experience
.section
  %h3 Web Developer, Tester, Video Editor
  .section
    %p
      %strong Allori, Hawthorn
    %p
      %strong Part-time, November 2011 &ndash; Current
    %p Core skills for web: Ruby, cross-browser/platform testing, browser development tools, producing testing reports, HTML, CSS, JavaScript, CoffeeScript, Git, PHP, Markdown, Regular expressions
    %p Core skills for video: Adobe Premiere Pro CS6, precise editing, Audacity, managing extensive source video, camera-switching, colour-correction, h.264 transcoding and exporting, codecs and browser support
  %h3 Tutor for Computer Systems
  .section
    %p
      %strong Swinburne University of Technology, Hawthorn
    %p
      %strong Sessional, August 2014 &ndash; Current
    %p Core skills: imparting technical knowledge, marking weekly lab work, collaborating with the lecturer to create learning resources
