%h2 Extra-curricular
.section
  %ul
    %li
      :maruku
        **LAN parties**

        July 2008 -- Present

        LAN-slide event coordinator, and attendee of community-focused PC gaming LAN events such as: Switch LAN, BluewireLAN, and Awaken LAN.