%h1 Brendan Weibrecht
.section.two-column.header
  %table.column.with-padding.horizontal-headers
    %tbody
      %tr
        %th Email:
        %td
          %a{:href => "mailto:brendan@weibrecht.net.au"} brendan@weibrecht.net.au
      %tr
        %th GitHub:
        %td
          %a{href: 'https://github.com/ZimbiX'} github.com/ZimbiX
      %tr
        %th Address:
        %td 1 Yarravale Rd, Kew 3101, Victoria,&nbsp;Australia
  %table.column.with-padding.horizontal-headers
    %tbody
      %tr
        %th Twitter:
        %td
          %a{:href => "https://twitter.com/ZimbiX"} @ZimbiX
      %tr
        %th Mobile:
        %td
          %a{href: 'tel:+61419261088'} 0419 261 088
      %tr
        %th LinkedIn:
        %td
          %a{:href => "http://au.linkedin.com/in/brendanweibrecht"} au.linkedin.com/in/brendanweibrecht
      / %tr
      /   %th Website:
      /   %td
      /     %a{:href => "http://www.zimbico.net/"} www.zimbico.net
      /     (outdated)
