%h1 Brendan Weibrecht
.section
  %table.with-padding.horizontal-headers
    %tbody
      %tr
        %th Address:
        %td 1 Yarravale Rd, Kew 3101, Victoria, Australia
      %tr
        %th Mobile:
        %td 0419 261 088
      %tr
        %th Email:
        %td
          %a{:href => "mailto:brendan@weibrecht.net.au"} brendan@weibrecht.net.au
      %tr
        %th Twitter:
        %td
          %a{:href => "https://twitter.com/zimbix"} @zimbix
      %tr
        %th LinkedIn:
        %td
          %a{:href => "http://au.linkedin.com/in/brendanweibrecht"} au.linkedin.com/in/brendanweibrecht
      %tr
        %th Website:
        %td
          %a{:href => "http://www.zimbico.net/"} www.zimbico.net
          (outdated)
