%h1 Brendan Weibrecht
%p.my-title Senior Software Developer, 7 years experience
.section.two-column.header
  %table.column.with-padding.horizontal-headers
    %tbody
      %tr
        %th Email:
        %td
          %a{href: 'mailto:brendan@weibrecht.net.au'} brendan@weibrecht.net.au
      %tr
        %th GitHub:
        %td
          %a{href: 'https://github.com/ZimbiX'} github.com/ZimbiX
      %tr
        %th Location:
        %td
          %a{href: 'https://goo.gl/maps/RDdZmosDa8zRYePZ6'} Heidelberg West, Victoria,&nbsp;Australia
  %table.column.with-padding.horizontal-headers
    %tbody
      %tr
        %th Twitter:
        %td
          %a{href: 'https://twitter.com/ZimbiX'} @ZimbiX
      %tr
        %th Mobile:
        %td
          %a{href: 'tel:+61-419-261-088'} 0419 261 088
      %tr
        %th LinkedIn:
        %td
          %a{href: 'https://linkedin.com/in/brendanweibrecht'} linkedin.com/in/brendanweibrecht
      / %tr
      /   %th Website:
      /   %td
      /     %a{:href => "http://www.zimbico.net/"} www.zimbico.net
      /     (outdated)
