%h2 Career Objective
.section
  %p In the long-term, I am seeking a technical job greatly involving computers. I have developed from having a keen childhood interest in computers to having proficient programming abilities in high school, and have been studying software development ever since. Once I graduate from studying Professional Software Development at Swinburne University, I wish to secure a job that will test my abilities, improve my general skills as a person, and give me new capabilities that will be of use to me in future in my career.
