%h2 Career Objective
.section
  :markdown
    I am keen to build a career in technical software development, which will provide exciting challenges and opportunities to learn and advance my knowledge & skills. I hope to be able to claim to be a full-stack developer one day, having a solid understanding of each key aspect of the software development process.

    Web development is an important area of modern software development, and I am quite enjoying working with Ruby; I would like to continue to build my experience in web development, while playing with new technologies along the way.
