%h2 Other interests
.section.two-column.interests
  %ul.column
    %li Android rooting
    %li Quadcopters
    %li Skiing
    %li Linux
    %li Making games
    %li Archery
    %li Rock climbing
    %li Planes/flying
    %li Playing video games
    %li Pets
  %ul.column
    %li Reading: Fantasy / Sci-fi
    %li Music: Punk rock / Pop punk / Metalcore, concerts (~1/week), festivals: Soundwave, Unify, Good Things
    %li Home media library streaming
    %li Engaging in intellectual conversation
    %li Learning about others' special interests
    %li PC gaming LAN parties: LAN-slide, Switch LAN, Indie LAN, BluewireLAN, Awaken LAN
    %li TV shows: The Wire, Sherlock, Stargate, Bron/Broen (The Bridge), Black Mirror, Halt and Catch Fire, Mr Robot, Game of Thrones, Pure Pwnage, Dexter
    %li Movies: The Fifth Element, Limitless, Memento, Back to the Future, Children of Men, The Shawshank Redemption, The Green Mile, Léon: The Professional, Pulp Fiction, Edge of Tomorrow, American Beauty
    / %li Programming
    / %li Web design
    / %li Assisting others with technology
    / %li Computer hardware
    / %li Image editing
