%h2 Other interests
.section.two-column
  %ul
    %li Android
    %li Quadcopters
    %li Making games
    %li Archery
  %ul
    %li Reading
    %li Music
    %li Movies
    %li TV shows
    / %li Programming
    / %li Web design
    / %li Assisting others with technology
    / %li Computer hardware
    / %li Linux
    / %li PC gaming/LANs
    / %li Image editing
