%h2 Other interests
.section.two-column.interests
  %ul
    %li Android rooting
    %li Quadcopters
    %li Skiing
    %li Making games
    %li Archery
  %ul
    %li Reading: Fantasy / Sci-fi
    %li Music: Punk rock / Pop rock, Soundwave festival, concerts
    %li Home media library streaming
    %li TV shows: Stargate, Mr Robot, Dexter, GoT
    %li PC gaming LAN parties: LAN-slide, Switch LAN, BluewireLAN, Awaken LAN
    / %li Programming
    / %li Web design
    / %li Assisting others with technology
    / %li Computer hardware
    / %li Linux
    / %li PC gaming/LANs
    / %li Image editing
