%h2 Career Objective
.section
  :maruku
    I am keen to advance my career in technical software development; by finding exciting challenges, solving interesting problems, and taking every opportunity to learn and build my knowledge & skills. I hope to one day be able to claim to be a full-stack developer, and have a solid understanding of -- and much experience in -- each key aspect of the software development process.

    Web development is an important area of modern software development, and I am quite enjoying working with Ruby; I would like to further my web development experience, while learning more about information security and experimenting with new technologies and methods.
