%h2 Interests
.section.two-column
  %ul
    %li Programming
    %li Making games
    %li Web design
    %li Assisting others with technology
    %li Computer hardware
    %li Android
    %li Linux
  %ul
    %li Music
    %li Movies
    %li TV shows
    %li PC gaming/LANs
    %li Image editing
    %li Archery
    %li Reading
