%h2 Other employment history
.section
  %ul
    %li
      %strong> Tech Help Provider
      , Zimbi co.
      %br/
      Casual, self-employed, mid-2008 &ndash; Current
    %li
      %strong> Web Developer
      , Zimbi co.
      %br/
      Spare-time, self-employed, January 2008 &ndash; mid-2012
    %li
      %strong> Dish Washer
      , Breizoz French Cr&ecirc;perie, Nelson Place, Williamstown
      %br/
      Casual, mid-2006 to December 2008
    %li
      %strong> Pharmacy Delivery Boy
      , Priceline Pharmacy, Swan Street, Richmond
      %br/
      Part-time, mid-2007 to December 2008
