h2 Other employment history
.section
  ul
    li
      markdown:
        **Tech Help Provider**, Zimbi co.

        Casual, self-employed, mid-2008 -- Present
    li
      markdown:
        **Dish Washer**, Breizoz French Cr&ecirc;perie, Nelson Place, Williamstown

        Casual, mid-2006 to December 2008
    li
      markdown:
        **Pharmacy Delivery Boy**, Priceline Pharmacy, Swan Street, Richmond

        Part-time, mid-2007 to December 2008
