%h2 Professional development
.section
  %ul
    %li
      %strong Swinburne Cyber Security Club
      %br/
      August 2013 &ndash; Present
      %br/
      Active club member, committee member, CTF competitor, and Open Day volunteer
      %br/
    %li
      %strong Melbourne Ruby meetup
      %br/
      January 2014 &ndash; Present
      %br/
      Regular attendee