%h2 Referees
.section
  %p
    :maruku
      **Tony Smales** -- my manager at Forticode  
      Founder and CEO  
      Forticode, Level 7, 22 William Street, Melbourne VIC 3000  
      Mobile: [0426 810 490](tel:+61-426-810-490)  
      Email: [tony.smales@forticode.com](mailto:tony.smales@forticode.com)
  %p
    :maruku
      **Dave Burt** -- my manager at Allori  
      Technology Manager  
      Allori, Level 1, 297 Canterbury Rd, Canterbury VIC 3126  
      Phone: [(03) 8862 4717](tel:+61-3-8862-4717)  
      Mobile: [0400 943 211](tel:+61-400-943-211)  
      Email: [dave.burt@allori.edu.au](mailto:dave.burt@allori.edu.au)
  %p
    :maruku
      **Casper Pieters** -- my supervisor at Metropolis for video editing  
      SOOCed Interactive Learning  
      Phone: [0423 507 136](tel:+61-423-507-136)  
      Email: [info@sooced.com](mailto:info@sooced.com)
  %p
    :maruku
      **Dr James Hamlyn-Harris** -- lecturer and my supervisor for tutoring  
      Senior Lecturer, Acting Chair CSSE, Acting Dean, SSEE
      Swinburne University of Technology, John St, Hawthorn VIC 3122  
      Phone: [(03) 9214 8672](tel:+61-3-9214-8672)  
      Email: [jhamlynharris@swin.edu.au](mailto:jhamlynharris@swin.edu.au)
