%h2.break Referees
.section
  %p
    %strong Dave Burt
    \&ndash; my manager at Allori
    %br/
    IT manager
    %br/
    Allori, Level 1, 297 Canterbury Rd, Canterbury VIC 3126
    %br/
    Phone: (03) 8862 4717
    %br/
    Mobile: 0400 943 211
    %br/
    Email:
    %a{:href => "mailto:dave.burt@allori.edu.au"} dave.burt@allori.edu.au
  %p
    %strong Dr James Hamlyn-Harris
    \&ndash; lecturer and supervisor for tutoring
    %br/
    Deputy Chair, Department of Computer Science &amp; Software Engineering; Senior Lecturer
    %br/
    Swinburne University of Technology, John St, Hawthorn VIC 3122
    %br/
    Phone: (03) 9214 8672
    %br/
    Email:
    %a{:href => "mailto:jhamlynharris@swin.edu.au"} jhamlynharris@swin.edu.au
