%h2 Skills &amp; Abilities
.section
  %ul
    %li
      %strong Software programming
      %ul
        %li.nobreak
          Elm
          %ul
            %li.nobreak
              :maruku
                In Melbourne's first Covid lockdown, I taught myself the pure functional frontend programming language Elm, by recreating a game I've built a few times now. PathFinder is a multiplayer maze game based on a 1974 [board game](http://boardgamegeek.com/boardgame/2884/pathfinder?) of the same name. It works well on desktop and supports multi-device or same-device multiplayer. I fell in love with Elm, and would like to write more Elm in future. >> [GitHub](https://github.com/ZimbiX/pathfinder-elm)
        %li
          Ruby
          %ul
            %li.nobreak
              :maruku
                I was responsible for all Forticode web and Ruby development. I built a web demonstration of Forticode's Cipherise authentication technology, and turned this into an SDK for reuse in customer applications. For deployment, I set up Passenger on AWS Red Hat, and wrote a Heroku-esque Git hook for 'git push' deployment.
            / %li.nobreak
            /   :maruku
            /     In my work at Allori, I produced many software components, while maintaining Ruby idioms, conventions, and patterns. I worked on some Rails projects, but was mainly tasked with ones based around Sinatra and Middleman; I would very much like to expand my Rails experience.
            / %li.nobreak
            /   :maruku
            /     Over the 2014–2015 new year I worked on an implementation of the classic box movement puzzle, [Sokoban](http://en.wikipedia.org/wiki/Sokoban). The code is reasonably well covered by minitest specs. It currently uses an ASCII command-line interface, but I also plan to create a graphical alternative. >> [GitHub](https://github.com/ZimbiX/Sokoban)
            / %li
            /   :maruku
            /     I recently performed a conversion from a static website into a Sinatra application, leveraging HAML and Sass -- the result can be seen at [mosttrustedadvisers.com](http://mosttrustedadvisers.com/)
            / %li.nobreak
            /   :maruku
            /     At Allori, I was tasked with adding new functionality to a Rails [video course system](http://insights.connectingwithclients.com.au/); I implemented YouTube support, the ability to sync videos from more than one Vimeo account, and an improved course editing UI.
            %li.nobreak
              :maruku
                Libraries & tools:

                - Frontend/design: *React*, *jQuery*, *CoffeeScript*, *HAML/Slim*, *Sass*, *Cells*, *lodash*
                - Frameworks: *Rails*, *Sinatra*, *Middleman*, *Trailblazer*
                - Testing: *RSpec*
                - Database/models: *PostgreSQL*, *ActiveRecord*
                - Models: *dry-struct*
                - Validation: *Reform*
                - Documents: *Markdown*, *JSON*, *YAML*, *regular expressions*
                - Debugging: *Pry*, *awesome_print*
                - Tooling: *Rake*, *Guard*
        %li.nobreak
          C#
          %ul
            %li.nobreak
              :maruku
                At uni, I took the incredibly interesting concurrent programming unit, *Advanced .NET Programming* (since retitled *Concurrent Programming*). I implemented many concurrency utilities, which later allowed me to create solutions to the classical concurrency problems: Dining Philosophers, and Cigarette Smokers; and others like Hilzer's Barbershop, and River Crossing. >> [GitHub](https://github.com/ZimbiX/Concurrency)
            %li.nobreak
              :maruku
                As my *Object-Oriented Programming* distinction project at uni, I created a version of my favourite board game, Khet ([khet.com](http://www.khet.com/)), most easily described as &lsquo;laser chess&rsquo;. The project demonstrates effective use of OO principles, and an application of the MVC design pattern. >> [GitHub](https://github.com/ZimbiX/Khet)
        %li.nobreak
          C++
          %ul
            %li
              :maruku
                In the course of taking the *Data Structures and Patterns* unit at uni, I created low-level classes for typical data structures like doubly-linked list, stack, queue, binary tree, n-ary tree; and implemented design patterns, including the iterator.
        %li
          GameMaker Language (GML)
          %ul
            %li
              :maruku
                I've been creating software since a young age -- I started making games with GameMaker in grade 5 (2004). My first version of PathFinder was developed in 2007.
    / %li
    /   %strong Building computers
    /   %ul
    /     %li I have built many computers, including those for myself, friends, and tech help clients
    /
      <li>
      <strong>Assisting people with computers</strong>
      <ul>
      <li>Often, I assist others with their technology. I</li>
      </ul>
      </li>
    %li.nobreak
      %strong Web development
      %ul
        %li I have worked on many websites, applying my skills in Ruby, PHP, HTML, CSS, and JavaScript; the preprocessed derivatives HAML, Sass, and CoffeeScript; and React.js
        %li I have tested and fixed countless issues with rendering sites in Internet Explorer 6-9. BrowserStack's local testing feature has greatly simplified the cross-browser testing process
    %li.nobreak
      %strong Operating systems
      %ul
        %li I am an avid Linux user, using it as my primary OS on my main machine from January 2013, and on a home server that manages family photos, cloud backup, and a large media collection (streaming, indexing, and expanding). I started with Ubuntu, and moved onto Arch Linux after a couple of years
        %li I have extensive experience in popular versions of Windows, and know how to troubleshoot and fix a huge range of issues &ndash; continually demonstrating this when I solve problems my tech help clients present to me
    /
      <li>
      <strong>Video editing</strong>
      <ul>
      <li>With Adobe Premiere Pro, I have produced many hours of edited video in my time at Allori</li>
      </ul>
      </li>
    %li.nobreak
      %strong Communication
      %ul
        %li As a uni tutor for Computer Systems, I had a key role in my lab students' learning of logic circuits and ARM assembly programming. When providing help, I had to carefully balance the depth of my explanations to assist students' understanding, while also giving them room to learn by exploring the problems themselves.
        %li While providing assistance through my tech help business, I have been praised by many clients for my ability to readily explain complex concepts and procedures in a practical and easy to understand manner
    %li.nobreak
      %strong Solving interesting problems
      %ul
        %li Friends, family, and tech help clients often come to me to help troubleshoot their computers
        %li I have provided support on the Google Drive forums, solving an obscure issue where the folder overlay icons would not appear
    %li.nobreak
      %strong Attention to detail &amp; user interface design
      %ul
        %li I have an eye for usability, and as a perfectionist, I am constantly thinking about ways to improve things. I can easily spot faults and inconsistencies in design and spelling/grammar which was of use during my testing work at Allori
    / %li.nobreak
    /   %strong Exceeding quality expectations
    /   %ul
    /     %li I am a perfectionist, so most often I will exceed task requirements in an effort to produce something impressive, such as in my weekly programming exercises at uni, or my prize-winning database program in VCE IT
    / %li
    /   %strong Offering innovative ideas
    /   %ul
    /     %li I occasionally come up with innovative ideas for technologies that would improve people's lives, but lack an outlet where I can spend the time to develop these
    %li.nobreak
      %strong Increasing efficiency
      %ul
        %li I am consistently improving the efficiency of my systems, such as writing macros and scripts for various tasks, or finding optimal software configurations. Linux architecture has helped greatly in this regard.
