%h2 Skills &amp; Abilities
.section
  %ul
    %li
      %strong Software programming
      %ul
        %li
          Ruby
          %ul
            %li
              :maruku
                In my work at Allori, I produced many software components, while maintaining Ruby idioms, conventions, and patterns. I worked on some Rails projects, but was mainly tasked with ones based around Sinatra and Middleman; I would very much like to expand my Rails experience.
            %li
              :maruku
                This summer I worked on an implementation of the classic box movement puzzle, [Sokoban](http://en.wikipedia.org/wiki/Sokoban). The code is reasonably well covered by minitest specs. It currently uses an ASCII command-line interface, but I also plan to create a graphical alternative. >> [GitHub](https://github.com/ZimbiX/Sokoban)
            / %li
            /   :maruku
            /     I recently performed a conversion from a static website into a Sinatra application, leveraging HAML and Sass -- the result can be seen at [mosttrustedadvisers.com](http://mosttrustedadvisers.com/)
            %li
              :maruku
                At Allori, was tasked with adding new functionality to a Rails [video course system](http://insights.connectingwithclients.com.au/); I implemented YouTube support, the ability to sync videos from more than one Vimeo account, and a greatly improved course editing UI.
        %li
          C#
          %ul
            %li
              :maruku
                At uni, I took the incredibly interesting concurrent programming unit, *Advanced .NET Programming* (since retitled *Concurrent Programming*). I implemented many concurrency utilities, which later allowed me to create solutions to the classical concurrency problems: Dining Philosophers, and Cigarette Smokers; and others like Hilzer's Barbershop, and River Crossing. >> [GitHub](https://github.com/ZimbiX/Concurrency)
            %li
              :maruku
                As my *Object-Oriented Programming* distinction project at uni, I created a version of my favourite board game, Khet ([khet.com](http://www.khet.com/)), most easily described as &lsquo;laser chess&rsquo;. The project demonstrates effective use of OO principles, and an application of the MVC design pattern. >> [GitHub](https://github.com/ZimbiX/Khet)
        %li
          C++
          %ul
            %li
              :maruku
                In the course of taking the *Data Structures and Patterns* unit at uni, I created low-level classes for typical data structures like doubly-linked list, stack, queue, binary tree, n-ary tree; and implemented design patterns, including the iterator.
        %li
          GameMaker Language (GML) / Pascal
          %ul
            %li
              :maruku
                [PathFinder](http://www.zimbico.net/games/pathfinder/) is a multiplayer maze game based on a 1974 [board game](http://boardgamegeek.com/boardgame/2884/pathfinder?) of the same name. I started this in 2007 -- the current version is very playable. I also re-wrote the core gameplay in Pascal for one of my first-year uni projects. Additionally, I have an Android/iOS GameMaker Studio touch gesture version partially developed.
    / %li
    /   %strong Building computers
    /   %ul
    /     %li I have built many computers, including those for myself, friends, and tech help clients
    /
      <li>
      <strong>Assisting people with computers</strong>
      <ul>
      <li>Often, I assist others with their technology. I</li>
      </ul>
      </li>
    %li.nobreak
      %strong Web development
      %ul
        %li I have worked on many websites, applying my skills in Ruby, PHP, HTML, CSS, and JavaScript; the preprocessed derivatives HAML, Sass, and CoffeeScript; and a little React.js
        %li I have tested and fixed countless issues with rendering sites in Internet Explorer 6-9. BrowserStack's local testing feature has greatly simplified the cross-browser testing process
    %li.nobreak
      %strong Operating systems
      %ul
        %li I am an avid Linux user, using Ubuntu as my primary OS on my main machine from January 2013, and Arch Linux on a small home server that manages family photos, cloud backup, and a large media collection
        %li I have extensive experience in popular versions of Windows, and know how to troubleshoot and fix a huge range of issues &ndash; continually demonstrating this when I solve problems my tech help clients present to me
    /
      <li>
      <strong>Video editing</strong>
      <ul>
      <li>With Adobe Premiere Pro, I have produced many hours of edited video in my time at Allori</li>
      </ul>
      </li>
    %li.nobreak
      %strong Communication
      %ul
        %li As a tutor for Computer Systems, I have had a key role in my lab students' learning of logic circuits and ARM assembly programming. When providing help, I have had to carefully balance the depth of my explanations to assist students' understanding, while also giving them room to learn by exploring the problems themselves.
        %li I run my own tech help business, and in providing such assistance, have been praised by many clients for my ability to readily explain complex concepts and procedures in a practical and easy to understand manner
    %li.nobreak
      %strong Solving interesting problems
      %ul
        %li Friends, family, and tech help clients often come to me to help troubleshoot their computers
        %li I have provided support on the Google Drive forums, solving an obscure issue where the folder overlay icons would not appear
    %li.nobreak
      %strong Attention to detail &amp; user interface design
      %ul
        %li I have an eye for usability, and as a perfectionist, I am constantly thinking about ways to improve things. I can easily spot faults and inconsistencies in design and spelling/grammar which was of use during my testing work at Allori
    / %li.nobreak
    /   %strong Exceeding quality expectations
    /   %ul
    /     %li I am a perfectionist, so most often I will exceed task requirements in an effort to produce something impressive, such as in my weekly programming exercises at uni, or my prize-winning database program in VCE IT
    / %li
    /   %strong Offering innovative ideas
    /   %ul
    /     %li I occasionally come up with innovative ideas for technologies that would improve people's lives, but lack an outlet where I can spend the time to develop these
    %li.nobreak
      %strong Increasing efficiency
      %ul
        %li I am consistently improving the efficiency of my systems, such as writing macros and scripts for various tasks, or finding optimal software configurations. Linux architecture has helped greatly in this regard.
