%h2 Skills &amp; Abilities
.section
  %ul
    %li
      %strong Software programming
      %ul
        %li
          Ruby
          %ul
            %li
              %span.todo (TODO: provide evidence from working at Allori)
        %li
          C#
          %ul
            %li
              As my Object-Oriented Programming distinction project at uni, I created a version of my favourite board game, Khet, most easily described as &lsquo;laser chess&rsquo;
              %span.todo (TODO: create webpage &amp; add link)
        %li
          C++
          %ul
            %li
              %span.todo (TODO: provide evidence from Data Structures and Patterns)
        %li
          GameMaker Language (GML)
          %ul
            %li PathFinder &ndash; <a href="http://www.zimbico.net/games/pathfinder/">www.zimbico.net/games/pathfinder</a> (Android/iOS version in development)</li>
    %li
      %strong Building computers
      %ul
        %li I have built many computers, including those for myself, friends, and tech help clients
    /
      <li>
      <strong>Assisting people with computers</strong>
      <ul>
      <li>Often, I assist others with their technology. I</li>
      </ul>
      </li>
    %li
      %strong Web development
      %ul
        %li I have worked on many websites, applying my skills in Ruby, PHP, HTML, CSS, and JavaScript
    %li
      %strong Operating systems
      %ul
        %li I am an avid Linux user, using Ubuntu as my primary OS on my main machine since January 2013, and Zentyal (based on Ubuntu Server) on a small home server
        %li I have extensive experience in popular versions of Windows
    /
      <li>
      <strong>Video editing</strong>
      <ul>
      <li>With Adobe Premiere Pro, I have produced many hours of edited video in my time at Allori</li>
      </ul>
      </li>
    %li
      %strong Attention to detail &amp; user interface design
      %ul
        %li I can easily spot faults and inconsistencies in design, and spelling/grammar which has been helpful during my testing work at Allori
    %li
      %strong Exceeding expectations
      %ul
        %li I am a perfectionist, so most often I will exceed task requirements in an effort to produce something impressive, such as in my weekly programming exercises at uni, or my prize-winning database program in VCE IT
    %li
      %strong Communication
      %ul
        %li
          As a tutor for Computer Systems,
          %span.todo (TODO: provide evidence from tutoring)
        %li I run my own tech help business, and in providing such assistance, I have been praised by many clients for my ability to readily explain complex concepts and procedures in a practical and easy to understand manner
    %li
      %strong Solving interesting problems
      %ul
        %li Friends, family, and tech help clients often come to me to help troubleshoot their computers
        %li I have provided support on the Google Drive forums, and once solved an obscure issue where the folder overlay icons would not appear
    %li
      %strong Offering innovative ideas
      %ul
        %li I occasionally come up with innovative ideas for technologies that would improve people's lives, but lack an outlet where I can spend the time to develop these
    %li
      %strong User interface design</strong>
      %ul
        %li I have an eye for usability, and as a perfectionist, I am constantly thinking about ways to improve things. This is also helpful in my testing work at Allori</li>
    %li
      %strong Increasing efficiency
      %ul
        %li I am constantly improving the efficiency of my systems, such as writing macros, and scripts, for various tasks, or finding optimal software configurations
