%h2 Voluntary work
.section
  %ul
    %li I participated in the Swinburne Open Day 2014, helping out, and presenting as part of the Swinburne Cyber Security Club
    %li I volunteered for about seven days at the beginning of my employment at Allori in order to prove my abilities and adapt my previous video editing skills to Premiere Pro (21 November 2011 &ndash; 2 December 2011)
    %li
      I spent a day at the Carey Baptist Grammar School ICT department fixing student laptops as part of an alternative work experience program
      %span.todo (TODO: find elusive date)
