%h2 Voluntary work
.section
  %ul
    %li
      :markdown
        **LAN-slide** event coordinator

        July 2014 -- Present

        I played a key role in our October 2014, January 2015, and April 2015 events: primarily involved in setting up infrastructure & systems, processing registrations, advertising online, and helping run the canteen & raffle
    %li I volunteered for Ruxcon 2014 (Australian cyber security conference), checking passes for five hours each day in return for free entry to the conference
    %li I participated in the Swinburne Open Day 2014, helping out, and presenting as part of the Swinburne Cyber Security Club
    %li I volunteered for about seven days at the beginning of my employment at Allori in order to prove my abilities and adapt my previous video editing skills to Premiere Pro (21 November 2011 &ndash; 2 December 2011)
    %li
      I spent a day at the Carey Baptist Grammar School ICT department fixing student laptops as part of an alternative work experience program in year 10 (2009)
