%h1 Brendan Weibrecht
.section
  %table.with-padding.horizontal-headers
    %tbody
      %tr
        %th Address:
        %td 1 Yarravale Rd, Kew 3101, Victoria, Australia
      %tr
        %th Mobile:
        %td 0419 261 088
      %tr
        %th Email:
        %td
          %a{:href => "mailto:brendan@weibrecht.net.au"} brendan@weibrecht.net.au
      %tr
        %th LinkedIn:
        %td
          %a{:href => "http://au.linkedin.com/in/brendanweibrecht"} au.linkedin.com/in/brendanweibrecht
      %tr
        %th Website:
        %td
          %a{:href => "http://www.zimbico.net/"} www.zimbico.net
%h2 Career Objective
.section
  %p In the long-term, I am seeking a technical job greatly involving computers. I have developed from having a keen childhood interest in computers to having proficient programming abilities in high school, and have been studying software development ever since. Once I graduate from studying Professional Software Development at Swinburne University, I wish to secure a job that will test my abilities, improve my general skills as a person, and give me new capabilities that will be of use to me in future in my career.
%h2 Education &amp; Training
.section
  %h3 Education
  .section
    %p
      %strong> Bachelor of Science (Professional Software Development)
      , Swinburne University of Technology, Hawthorn (2012 &ndash; Current)
    %ul#uni-achievements
      %li
        %div Database Analysis and Design
        %div 93% &ndash; High Distinction
      %li
        %div Computer Systems
        %div 87% &ndash; High Distinction
      %li
        %div Data Structures and Patterns
        %div 86% &ndash; High Distinction
      %li
        %div Internet Technologies
        %div 80% &ndash; Distinction
      %li
        %div Computer and Logic Essentials
        %div 79% &ndash; Distinction
      %li
        %div LAN Principles
        %div 77% &ndash; Distinction
      %li
        %div Object-Oriented Programming
        %div 75% &ndash; Distinction
    %p
      %strong> Victorian Certificate of Education
      , Carey Baptist Grammar School, Kew (2009 &ndash; 2011, Years 10 &ndash; 12)
    %ul
      %li Study score of 42 for VCE IT Software Development, accelerated
      %li Also studied Physics, Maths Methods, and English Language
  %h3 Training
  .section
    %ul
      %li First aid, CPR - St John Ambulance, Carey Baptist Grammar 2009 &ndash; 2010
%h2 Relevant experience
.section
  %h3 Web Developer, Tester, Video Editor
  .section
    %p
      %strong Allori, Hawthorn
    %p
      %strong Part-time, November 2011 &ndash; Current
    %p Core skills for web: Ruby, cross-browser/platform testing, browser development tools, producing testing reports, HTML, CSS, JavaScript, CoffeeScript, Git, PHP, Markdown, Regular expressions
    %p Core skills for video: Adobe Premiere Pro CS6, precise editing, Audacity, managing extensive source video, camera-switching, colour-correction, h.264 transcoding and exporting, codecs and browser support
  %h3 Tutor for Computer Systems
  .section
    %p
      %strong Swinburne University of Technology, Hawthorn
    %p
      %strong Sessional, August 2014 &ndash; Current
    %p Core skills: imparting technical knowledge, marking weekly lab work, collaborating with the lecturer to create learning resources
%h2 Other employment history
.section
  %ul
    %li
      %strong> Tech Help Provider
      , Zimbi co.
      %br/
      Casual, self-employed, mid-2008 &ndash; Current
    %li
      %strong> Web Developer
      , Zimbi co.
      %br/
      Spare-time, self-employed, January 2008 &ndash; mid-2012
    %li
      %strong> Dish Washer
      , Breizoz French Cr&ecirc;perie, Nelson Place, Williamstown
      %br/
      Casual, mid-2006 to December 2008
    %li
      %strong> Pharmacy Delivery Boy
      , Priceline Pharmacy, Swan Street, Richmond
      %br/
      Part-time, mid-2007 to December 2008
%h2 Voluntary work
.section
  %ul
    %li I participated in the Swinburne Open Day 2014, helping out, and presenting as part of the Swinburne Cyber Security Club
    %li I volunteered for about seven days at the beginning of my employment at Allori in order to prove my abilities and adapt my previous video editing skills to Premiere Pro (21 November 2011 &ndash; 2 December 2011)
    %li
      I spent a day at the Carey Baptist Grammar School ICT department fixing student laptops as part of an alternative work experience program
      %span.todo (TODO: find elusive date)
%h2 Achievements
.section
  %ul
    %li
      %strong>
        1
        %sup st
        prize in the Monash University IT Challenge 2011
      , Database category, with my Ace Video Rentals Database program &ndash;
      %a{:href => "http://www.infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html"} http://www.infotech.monash.edu.au/about/competitions/it-challenge/results-2011.html
    %li
      As part of the Swinburne Cyber Security Club, our team came
      %strong
        12
        %sup th
        for CySCA 2014
      \&ndash;
      %a{:href => "https://scoring.cyberchallenge.com.au/index/ranking"} https://scoring.cyberchallenge.com.au/index/ranking
%h2 Skills &amp; Abilities
.section
  %ul
    %li
      %strong Software programming
      %ul
        %li
          Ruby
          %ul
            %li
              %span.todo (TODO: provide evidence from working at Allori)
        %li
          C#
          %ul
            %li
              As my Object-Oriented Programming distinction project at uni, I created a version of my favourite board game, Khet, most easily described as &lsquo;laser chess&rsquo;
              %span.todo (TODO: create webpage &amp; add link)
        %li
          C++
          %ul
            %li
              %span.todo (TODO: provide evidence from Data Structures and Patterns)
        %li
          GameMaker Language (GML)
          %ul
            %li PathFinder &amp;ndash; <a href="http://www.zimbico.net/games/pathfinder/">www.zimbico.net/games/pathfinder</a> (Android/iOS version in development)</li>
    %li
      %strong Building computers
      %ul
        %li I have built many computers, including those for myself, friends, and tech help clients
    /
      <li>
      <strong>Assisting people with computers</strong>
      <ul>
      <li>Often, I assist others with their technology. I</li>
      </ul>
      </li>
    %li
      %strong Web development
      %ul
        %li I have worked on many websites, applying my skills in Ruby, PHP, HTML, CSS, and JavaScript
    %li
      %strong Operating systems
      %ul
        %li I am an avid Linux user, using Ubuntu as my primary OS on my main machine since January 2013, and Zentyal (based on Ubuntu Server) on a small home server
        %li I have extensive experience in popular versions of Windows
    /
      <li>
      <strong>Video editing</strong>
      <ul>
      <li>With Adobe Premiere Pro, I have produced many hours of edited video in my time at Allori</li>
      </ul>
      </li>
    %li
      %strong Attention to detail &amp; user interface design
      %ul
        %li I can easily spot faults and inconsistencies in design, and spelling/grammar which has been helpful during my testing work at Allori
    %li
      %strong Exceeding expectations
      %ul
        %li I am a perfectionist, so most often I will exceed task requirements in an effort to produce something impressive, such as in my weekly programming exercises at uni, or my prize-winning database program in VCE IT
    %li
      %strong Communication
      %ul
        %li
          As a tutor for Computer Systems,
          %span.todo (TODO: provide evidence from tutoring)
        %li I run my own tech help business, and in providing such assistance, I have been praised by many clients for my ability to readily explain complex concepts and procedures in a practical and easy to understand manner
    %li
      %strong Solving interesting problems
      %ul
        %li Friends, family, and tech help clients often come to me to help troubleshoot their computers
        %li I have provided support on the Google Drive forums, and once solved an obscure issue where the folder overlay icons would not appear
    %li
      %strong Offering innovative ideas
      %ul
        %li I occasionally come up with innovative ideas for technologies that would improve people's lives, but lack an outlet where I can spend the time to develop these
    %li
      %strong User interface design</strong>
      %ul
        %li I have an eye for usability, and as a perfectionist, I am constantly thinking about ways to improve things. This is also helpful in my testing work at Allori</li>
    %li
      %strong Increasing efficiency
      %ul
        %li I am constantly improving the efficiency of my systems, such as writing macros, and scripts, for various tasks, or finding optimal software configurations
%h2 Extra-curricular activities
.section
  %ul
    %li
      %strong Swinburne Cyber Security Club
      %br/
      August 2013 &ndash; Present
      %br/
      Active club member, committee member, CTF competitor, and Open Day volunteer
      %br/
    %li
      %strong Melbourne Ruby meetup
      %br/
      January 2014 &ndash; Present
      %br/
      Regular attendee
%h2 Interests
.section.two-column
  %ul
    %li Programming
    %li Making games
    %li Web design
    %li Assisting others with technology
    %li Computer hardware
    %li Android
    %li Linux
  %ul
    %li Music
    %li Movies
    %li TV shows
    %li PC gaming/LANs
    %li Image editing
    %li Archery
    %li Reading
%h2.break Referees
.section
  %p
    %strong Dave Burt
    \&ndash; my manager at Allori
    %br/
    IT manager
    %br/
    Allori, Level 1, 297 Canterbury Rd, Canterbury VIC 3126
    %br/
    Phone: (03) 8862 4717
    %br/
    Mobile: 0400 943 211
    %br/
    Email:
    %a{:href => "mailto:dave.burt@allori.edu.au"} dave.burt@allori.edu.au
  %p
    %strong Dr James Hamlyn-Harris
    \&ndash; lecturer and supervisor for tutoring
    %br/
    Deputy Chair, Department of Computer Science &amp; Software Engineering; Senior Lecturer
    %br/
    Swinburne University of Technology, John St, Hawthorn VIC 3122
    %br/
    Phone: (03) 9214 8672
    %br/
    Email:
    %a{:href => "mailto:jhamlynharris@swin.edu.au"} jhamlynharris@swin.edu.au
  / %p
  /   %strong Michael Fitzpatrick
  /   \&ndash; my IT teacher at Carey
  /   %br/
  /   Senior School IT Studies Coordinator
  /   %br/
  /   Carey Baptist Grammar School, 349 Barkers Road, Kew VIC 3101
  /   %br/
  /   Phone: (03) 9816 1432
  /   %br/
  /   Mobile: 0422 586 527
  /   %br/
  /   Email:
  /   %a{:href => "mailto:michael.fitzpatrick@carey.com.au"} michael.fitzpatrick@carey.com.au
