- allow_break = ['experience', 'education', 'skills_abilities']
- [ 'header',
    'intro',
    'experience',
    'achievements',
    'skills_abilities',
    'education',
    'volunteering',
    'interests',
    'other_employment',
    'referees',
    'footer',
  ].each do |partial|
  %div{:class => ('nobreak' unless allow_break.include? partial)}
    = haml ('_' + partial).to_sym
