- [ 'header',
    'intro',
    'education',
    'experience',
    'other_employment',
    'volunteering',
    'achievements',
    'skills_abilities',
    'extra_curricular',
    'interests',
    'referees',
  ].each do |partial|
  .nobreak
    = haml ('_' + partial).to_sym