body
  max-width: 750px
  margin: 0 auto

  @media screen
    margin-bottom: 30px

body, table
  font-family: 'Roboto', sans-serif
  font-size: 10pt
  /* An A4 page is approximately equivalent to the html element being 684px wide in Chrome */

h1
  font-size: 28pt

  @media print
    margin-top: 0

h1, h2, h3, h4, h5
  font-variant: small-caps
  border-bottom: 1px solid black
  margin-bottom: 15px

.nolist
  list-style-type: none
  padding: 0

.nobreak
  page-break-inside: avoid

table
  border: 0
  border-spacing: 0
  border-collapse: collapse

  th, td
    text-align: left
    vertical-align: top
    padding: 0

  & .with-padding
    th, td
      padding: 2px 0

table.horizontal-headers tr > th
  padding-right: 20px

div.section
  margin-left: 20px

ul#uni-achievements li div
  display: inline-block
  width: 16em

  & + div
    width: 200px

li
  margin: 2px 0

  p
    margin: 0

p
  margin: 0.4em 0

.two-column
  text-align: justify
  & ul, table
    display: inline-block
    margin: 0
    min-width: 120px
    vertical-align: top
  & ul
    margin-right: 40px
  & table
    &:nth-child(odd)
      width: 45%

.break
  page-break-before: always

.todo
  color: #AAA

$text-colour: black
$bg-colour: #FFF
$link-colour: rgb(0, 0, 238)

a
  color: $link-colour

#footer
  $opacity: 50%
  margin-top: 10px
  text-align: center
  // opacity: 0.5
  color: mix($text-colour, $bg-colour, $opacity)

  p
    margin-bottom: 0

  a
    color: mix($link-colour, $bg-colour, $opacity)